<?xml version="1.0" encoding=    "utf-8" ?>

<configuration>

<appSettings>

    <add key="dbOdbcDsn" value="Midas_64bit_system" />
    <add key="dbUser" value="CRAIG" />
    <add key="dbPass" value="uXcHemY2JO1OcFiakPFL4g==" />
    <add key="dbSqlFile" value="G:\EMPI\Midas\midas.sql" />
    <add key="delim" value="|" />
    <add key="outputFile" value="\\hsysnas1\BORPT\BO\EMPI\midas.dat" />
    <add key="columnHeader" value="true" />

</appSettings>

</configuration>
