<?xml version="1.0" encoding=    "utf-8" ?>

<configuration>

<appSettings>

    <add key="dbHost" value="epic_nonprd1" />
    <add key="dbPort" value="6006" />
    <add key="dbUser" value="104889" />
    <add key="dbPass" value="" />
    <add key="dbSqlFile" value="poc.sql" />
    <add key="delim" value="|" />
    <add key="outputFile" value="c:\c#\DumpDataKBS\poc.dat" />
    <add key="columnHeader" value="true" />
    
    <add key="outputDir" value="c:\\C#\\DumpDataKBS" />
    <add key="oraExtTableName" value="patient_ext" />
    <add key="oraExtDirectoryName" value="JMH_EPIC_CONV" />
    <add key="oraExtAddRecNum" value="Y" />
    <add key="msqlTableName" value="sql_patient" />

</appSettings>

</configuration>
